.container {
  max-width: 100% !important; /* Tràn viền 100% */
  /* padding-left: 50px !important;  Khoảng cách lề trái */
  /* padding-right: 50px !important; Khoảng cách lề phải */
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  background-color:aqua !important;
  display: inline-block;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/*custom*/
.nav-menu{
  background-color: white;
}
.menu-category{
  position:relative;
  
}
button {
  /* Loại bỏ thiết kế mặc định */
  background: none;
  border: none;
  color: black;       /* Thừa hưởng màu sắc */
}
#categoryDropdown{
  position:absolute;
  top:50px;
  left: 0;
  width:300px;
  background:rgb(255, 255, 255);
  border-radius:10px;
  box-shadow:0 5px 20px rgba(0,0,0,0.2);
  padding:20px;
  display:none;
}

.mega-menu{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
}

.menu-item a{
  text-decoration:none;
  color:#333;
  padding:8px;
  display:block;
}

.menu-item a:hover{
  background:#f3f3f3;
  border-radius:5px;
}
