body{
    color: white;
}
.ads{
    width: 100%;
    height: 89vh;
    /* background-color: #475b7a; */
    display: flex;
}
.ads-content{
    
    flex:1;
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
     
}
.ads-img{
    flex: 1;
    height: 100%;
    background-image: url(/image/va393xgrb-removebg-preview.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    
}
.ads-content-menu{
    margin-top: 1rem;
}
.ads-content-menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    padding: 0.5rem 1rem;
    margin: 0rem 0.5rem 0rem 0rem;
    border-radius: 10px;
}
.ads-content-menu a:first-child {
    background-color: rgb(28, 206, 206);
}
/* container flash sale  */
.flashsale{
    background: rgb(0, 0, 0);
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    color: white;
}
.flashsale-content{
    display: flex;
    height: 25%;
    width: 100%;
    /* background-color: aqua; */
}
.flashsale-content-left{
    height: 100%;
    width: 35%;
    /* background-color: red; */
    background-image: url(/image/flashsale.png); 
    background-size: contain;
    background-repeat: no-repeat;
}
.flashsale-content-center{
    width: 30%;
    height: 100%;
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.time span{
    display: inline-block;   /* QUAN TRá»ŒNG */
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #929191;
    color: white;
    margin: 0 5px;
    border-radius: 6px;
}

.flashsale-content-right{
    width: 35%;
    height: 100%;
    /* background-color: rgb(27, 175, 71); */
    text-align: center;
    align-items: center;
}
.flashsale-product{
    background-color: white;
    height: 75%;
    border-radius: 10px;
}

.best-product{
    background: rgb(0, 0, 0);
    margin-top: 5rem;
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    
}
.best-product-content{
    flex: 1;
    background-color: rgb(15, 105, 93);
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.best-product-sp{
    flex: 3;
    background-color: white;
    border-radius: 10px;
}
.new-product{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 110vh;
    background-color: red;
    border-radius: 10px;
}
.new-product-content{
    flex: 1.5;
    align-items: center;
    display: flex;
    justify-content: center;
}
.new-product-sp{
    flex: 8.5;
    background-color: white;
    border-radius: 10px;
}