
.main-ads{
    width: 100%;
    height: 85vh;
    /* background-color: #475b7a; */
    display: flex;
}
.main-ads-content{
    
    flex:1;
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
     
}
.main-ads-img{
    flex: 1;
    height: 100%;
    background-image: url(/image/va393xgrb-removebg-preview.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    
}
.main-ads-content-menu{
    margin-top: 1rem;
}
.main-ads-content-menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    padding: 0.5rem 1rem;
    margin: 0rem 0.5rem 0rem 0rem;
    border-radius: 10px;
}
.main-ads-content-menu a:first-child {
    background-color: rgb(28, 206, 206);
}