
.ads{
    width: 100%;
    height: 89vh;
    /* background-color: #475b7a; */
    display: flex;
}
.ads-content{
    
    flex:1;
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
     
}
.ads-img{
    flex: 1;
    height: 100%;
    background-image: url(/image/va393xgrb-removebg-preview.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    
}
.ads-content-menu{
    margin-top: 1rem;
}
.ads-content-menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    padding: 0.5rem 1rem;
    margin: 0rem 0.5rem 0rem 0rem;
    border-radius: 10px;
}
.ads-content-menu a:first-child {
    background-color: rgb(28, 206, 206);
}
/* container flash sale  */
.flashsale{
    background: rgb(0, 0, 0);
    width: 100%;
    height: 60vh;
    border-radius: 10px;
}
.flashsale-content{
    display: flex;
    height: 25%;
    width: 100%;
    /* background-color: aqua; */
}
.flashsale-content-left{
    height: 100%;
    width: 35%;
    background-color: red;
    background-image: url(/image/flashsale.png); 
    background-size: contain;
    background-repeat: no-repeat;
}
.flashsale-content-center{
    width: 30%;
    height: 100%;
    background-color: greenyellow;
}
.flashsale-centent-right{
    width: 35%;
    height: 100%;
    background-color: rgb(53, 151, 83);
}
