@model DUANCUAHANGAPPLE.ViewComponents.FilterModel

<div class="filter">
    <button class="filter-chip" onclick="toggleMenu(this)">
        @Model.Title
        <span>▼</span>
    </button>

    <div class="filter-menu">
        @foreach(var item in Model.Options)
        {
            <div>@item</div>
        }
    </div>
</div>