@section Styles {
    <link rel="stylesheet" href="~/css/home/style1.css" asp-append-version="true" />
}
<div class="container">
        <div class="form-login">
        <div class="form-heading"><h2>Đăng nhập</h2></div>
        <div >
            <i class="fa-solid fa-user"></i><input type="text" class="form-text" placeholder="Nhập tên đăng nhập">
        </div>  
         <div >
            <i class="fa-solid fa-lock"></i><input type="password" class="form-text" placeholder="Nhập mật khẩu">
        </div>
         <div>
           <input type="checkbox" class="form-display">Hiển thị mật khẩu
        </div>
        <div><input type="submit" value="Đăng nhập"></div>
        <div>
            <p>Nếu bạn chưa có tài khoản?,<a href=#>Đăng ký ngay</a></p>
        </div>
        </div>
    </div>
    </div>