@section Styles {
    <link rel="stylesheet" href="~/css/home/index.css" />
}
<div class="main">
    <div class="main-ads">
        <div class="main-ads-content">
            <h3>CỬA HÀNG APPLE CHÍNH HÃNG </h3>
            <h3>CÔNG NGHỆ TRONG TẦM TAY</h3>
            <p>Khám phá các sản phẩm Apple chính hãng với thiết kế tinh tế, hiệu năng vượt trội và trải nghiệm công nghệ hiện đại.</p>
            <p>Bắt đầu hành trình công nghệ của bạn cùng Apple ngay hôm nay.</p>

        </div>
        <div class="main-ads-img">
            
        </div>
    </div>

</div>