@section Styles {
    <link rel="stylesheet" href="~/css/home/index.css" />
}
<div class="ads">
    <div class="ads-content">
        <h3>CỬA HÀNG APPLE CHÍNH HÃNG </h3>
        <h3>CÔNG NGHỆ TRONG TẦM TAY</h3>
        <p>Khám phá các sản phẩm Apple chính hãng với thiết kế tinh tế, hiệu năng vượt trội và trải nghiệm công nghệ hiện đại.</p>
        <p>Bắt đầu hành trình công nghệ của bạn cùng Apple ngay hôm nay.</p>
        <div class="ads-content-menu">
            <a asp-controller="" asp-action=""><i class="fa-solid fa-arrow-right"></i> Khám phá ngay</a>
            <a asp-controller="" asp-action=""><i class="fa-solid fa-boxes-stacked"></i> Danh mục sản phẩm</a>
        </div>
    </div>
    <div class="ads-img">
        
    </div>
</div>
<div class="flashsale">
    <div class="flashsale-content">
        <div class="flashsale-content-left"></div>
        <div class="flashsale-content-center">
            <h4>KẾT THÚC TRONG</h4>
        </div>
        <div class="flashsale-centent-right">
            
        </div>
    </div>
    <div class="flashsale-product">

    </div>
</div>