html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #031b41;
}
/*header*/
.header{
  display: flex;
  padding: 0rem 2rem ;
  background-color: #031b41;
  width: 100%;
  height: 70px;
  align-items: center;
  position: sticky;
  top:0px;
  z-index: 1;
  backdrop-filter: blur(10px);
}
.header a{
  color:black;
  text-decoration: none;
}
/* thanh menu danh mục  */
.nav-menu{
  background-color:rgba(239, 243, 243, 0.747);
  width: 25%;
  height: 2.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;;
  margin:0rem 2rem 0rem 8rem;
  padding:0rem 1rem;
  border-radius: 10px;
}
/* thanh logo */
.nav-brand a{
  color:white;
}
/* thanh tìm kiếm  */
.nav-search{
  position: relative; 
  display: flex; 
  align-items: center; 
  border-radius: 10px; 
  width: 18.5rem;
  
}
.nav-search .fa-magnifying-glass {
  position: absolute;
  left: 10px; 
  color: #888;  
  z-index: 1; 
}
.nav-search input{
  background-color:rgba(239, 243, 243, 0.747);
  width: 18.5rem;
  text-align: left; 
  border-radius: 10px; 
  border-color: rgb(255, 255, 255);
  padding-left: 2rem; 
  height: 2.3rem; 
  outline: none;
  border: 1px solid #ccc;
  
}
/* menu cá x  */
.nav-individual{
  background-color:rgba(239, 243, 243, 0.747);
  width: 5rem;
  height: 2.3rem; 
  margin-left: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
   border-radius: 10px;
}
